$primary-dark-100: #292830;
$primary-dark-200: #1d1c24;
$primary-dark-300: #313138;
$primary-dark-400: #8a8b99;
$primary-dark-500: #1d1c24;
$primary-dark-600: #262626;
$primary-dark-700: #303030;
$primary-dark-800: #a4a5b3;
$primary-dark-900: #212029;
$primary-dark-1000: #11263c;
$primary-dark-1100: #3a393f;

$custom-gray-100: #e9e9e9;
$custom-gray-200: #b1b1b1;
