.formOperationRegion {
  :global {
    .ant-form-item-row {
      display: grid;
      grid-template-columns: 200px 1fr;
      gap: 20px;
    }
    .ant-input-number {
      width: 120px;
    }
  }
}
