.radio-tab {
  border: unset;
  .radio-tab-item {
    background-color: unset;
    border: unset;
    border-bottom: 2px solid transparent;
    border-right: unset !important;
    width: 150px;
    padding: unset;
    height: 40px;
    transition: all 0.2s linear;
    &.radio-tab-item-selected {
      border-bottom: 2px solid #0a6efa;
    }
  }
}

.ant-tabs {
  padding: 0 20px;
}
